.user-menu{
    .mat-toolbar, .mat-toolbar-row{
        height: 100px !important;
    }
    .user-info{
        width: 230px;
        p{
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            .profile-img{
                padding-right: 10px;
            }
        }
    }
    .mat-menu-item{
        height: 36px;
        line-height: 36px;
    }
}

.information{
    width: 100%;
    .infor{
        font-size: 15px;
        padding: 10px;
        mat-icon{
            margin-right: 10px;
        }
    }
}

.action-modif{
    padding: 20px;
}
