.element{
    color: white;
}

.image{
    height: 200px;
}

.example-tooltip-red{
    background: rgb(8, 8, 131);
    font-weight: bold;
}
.infor{
    font-size: 13px;
    padding: 5px;
    mat-icon{
        margin-right: 10px;
    }
}

.buton-action{
    float: right;
}

.recherche{
    width: 70%;
  }