
<div *ngIf="isLoadingResults" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">   
    <mat-spinner color="primary"></mat-spinner>
  </div>


<div class="header" fxLayout="row" fxLayoutAlign="center center" mat-dialog-title color="primary">
    <h3 *ngIf="data.menu">Modifier Un Profile</h3>
    <h3 *ngIf="!data.menu">AJouter Un Profile</h3>
</div>
<div mat-dialog-content class="body-content">
    <form   [formGroup]="profileForm">
        <div fxLayout="row" fxLayoutAlign="start" fxLayout.lt-md="row wrap">
            <mat-form-field appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="100" [fxFlex.lg]="50" [fxFlex.xl]="50">
                <mat-label>Libelle</mat-label>
                <input matInput #input  placeholder="Ex. Nougat"  formControlName="libelle">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start" fxLayout.lt-md="row wrap">
            <ng-select class="select"  [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="100" [fxFlex.lg]="100" [fxFlex.xl]="100" [items]="roles"
                   bindLabel="libelle"
                   [multiple]="true"
                   placeholder="Selectionner Selectionner le profile"
                   formControlName="roles">
                   <ng-template ng-loadingspinner-tmp>
                    <div class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </ng-template>
            </ng-select>
        </div>
    </form>
</div>
<div mat-dialog-actions align="end" class="action-footer">
    <div fxLayout="row" fxLayoutAlign="center" fxLayout.lt-md="row wrap" fxLayoutGap.gt-sm="20px">
        <button mat-raised-button color="warn" [mat-dialog-close]="profileForm.value" >Annuler</button>
        <button mat-raised-button [disabled]="profileForm.invalid" (click)="onSubmit()" color="primary" >Enregistrer</button>
    </div>
</div>