

<mat-sidenav-container >
    <div *ngIf="isLoadingResults" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">   
        <mat-spinner color="primary"></mat-spinner>
      </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
         <form   fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60">
              <mat-card class="p-0 mat-elevation-z24 box">
                  <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
                      <img width="150px" height="120px" src="./assets/logo.png">
                      
                  </div>
                  <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
                      <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">
                          <span class="titre">Mot de passe oublier</span>  
                          <mat-form-field *ngIf="!consigne" appearance="outline" class="w-100">
                            <mat-label>Mail de recuperation</mat-label>
                              <input [(ngModel)]="mailRecuperation" matInput type="email" placeholder="Mail de recuperation" name="mailRecuperation">
                              <!-- <mat-error *ngIf="form.controls.email.errors?.required">Email is required</mat-error>
                              <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Invalid email address</mat-error> -->
                          </mat-form-field>
                          <mat-form-field *ngIf="consigne" appearance="outline" class="w-100">
                            <mat-label>Code de validation</mat-label>
                              <input [(ngModel)]="codeValidation" matInput type="email" placeholder="Code de validation" name="codeValidation">
                              <!-- <mat-error *ngIf="form.controls.email.errors?.required">Email is required</mat-error>
                              <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Invalid email address</mat-error> -->
                          </mat-form-field>
                          <div fxLayout="row" fxLayoutAlign="start">
                          </div>
                      </mat-card>
                      <button mat-raised-button (click)="onSubmit()" color="primary" class="mat-elevation-z12 box-button" type="submit">Valider</button>
                  </mat-card-content>
                  <div fxLayout="row" fxLayoutAlign="start">
                    <mat-card-content class="inscription">
                        <p>J'aimerais <a mat-button routerLink="/login">me connecter</a></p>
                    </mat-card-content>
                </div>
              </mat-card>
              
          </form>    
    
    </div>
  
  </mat-sidenav-container>