<div *ngIf="isLoadingResults" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">   
    <mat-spinner color="primary"></mat-spinner>
  </div>

<div class="header" fxLayout="row" fxLayoutAlign="center center" mat-dialog-title color="primary">
    <h2 *ngIf="data.typeSociete">Modifier Un typeSociete</h2>
    <h2 *ngIf="!data.typeSociete">AJouter Un typeSociete</h2>
</div>
<div mat-dialog-content>

    <form *ngIf="!isLoadingResults"  [formGroup]="typeSocietesForm">
        <div fxLayout="row" fxLayoutAlign="start" fxLayout.lt-md="row wrap">
            
            <mat-form-field appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="100" [fxFlex.lg]="50" [fxFlex.xl]="50">
                <mat-label>Libelle</mat-label>
                <input matInput #input  placeholder="Ex. Nougat"  formControlName="appellation">
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions align="end">
    <div fxLayout="row" fxLayoutAlign="center" fxLayout.lt-md="row wrap" fxLayoutGap.gt-sm="20px">
        <button mat-raised-button color="warn" [mat-dialog-close]="typeSocietesForm.value" >Annuler</button>
        <button mat-raised-button (click)="onSubmit()" color="primary" >Enregistrer</button>
    </div>
</div>