<div *ngIf="isLoadingResults" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">   
    <mat-spinner color="primary"></mat-spinner>
  </div>

<div class="header" fxLayout="row" fxLayoutAlign="center center" mat-dialog-title color="primary">
    <h2>Modifier Le Profile</h2>
</div>
<div mat-dialog-content *ngIf="!isLoadingResults">
    <form [formGroup]="userForm" enctype="multipart/form-data" >
        <div fxLayout="row" fxLayoutAlign="center center" fxLayout.lt-md="row wrap" fxLayoutGap.gt-sm="20px">
            <div *ngIf="image">
                <img class="profile-img" src="{{image}}" alt="user-image" width="100" class="rounded mat-elevation-z6">
            </div>

        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayout.lt-md="row wrap">
            <input mat-raised-button type="file" (change)="onSelect($event)" placeholder="Changer sa photo de profile">
        </div>
        <div fxLayout="row" fxLayoutAlign="start" fxLayout.lt-md="row wrap">
            <mat-form-field appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="100" [fxFlex.lg]="50" [fxFlex.xl]="50">
                <mat-label>Email</mat-label>
                <input matInput #input maxlength="10"  [value]="user.email" readonly>
                
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" fxLayout.lt-md="row wrap" fxLayoutGap.gt-sm="20px">
            <mat-form-field appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="100" [fxFlex.lg]="50" [fxFlex.xl]="50">
                <mat-label>Nom</mat-label>
                <input matInput #input  formControlName="nom" required>
                <mat-error *ngIf="userForm.get('nom').touched && userForm.get('nom').invalid" >
                    <p>Champs obligatoire, cet champs doit pas etre vide</p>
                  </mat-error> 
              </mat-form-field>
              <mat-form-field appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="100" [fxFlex.lg]="50" [fxFlex.xl]="50">
                <mat-label>Prenom</mat-label>
                <input matInput #input  formControlName="prenom" required>
                <mat-error *ngIf="userForm.get('prenom').touched && userForm.get('prenom').invalid">
                    <p>Champs obligatoire, cet champs doit pas etre vide</p>
                  </mat-error> 
              </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="center" fxLayout.lt-md="row wrap" fxLayoutGap.gt-sm="20px">
            <mat-form-field appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="100" [fxFlex.lg]="50" [fxFlex.xl]="50">
                <mat-label>Contact</mat-label>
                <span matPrefix>+33 &nbsp;</span>
                <input matInput #input type="number"  formControlName="contact">
            </mat-form-field>
              <mat-form-field appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="100" [fxFlex.lg]="50" [fxFlex.xl]="50">
                    <mat-label>Civilité</mat-label>
                    <mat-select disableRipple formControlName="civilite" required>
                        <mat-option >--SELECT--</mat-option>
                        <mat-option value="Mr">Mr</mat-option>
                        <mat-option value="Mme">Mme</mat-option>
                        <mat-option value="Mesdamoiselle">Mesdamoiselle</mat-option>
                    </mat-select>
               </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" fxLayout.lt-md="row wrap" fxLayoutGap.gt-sm="20px">
            
      </div>
    </form>
</div>
<div mat-dialog-actions align="end" *ngIf="!isLoadingResults">
    <div fxLayout="row" fxLayoutAlign="center" fxLayout.lt-md="row wrap" fxLayoutGap.gt-sm="20px">
        <button mat-raised-button color="warn" [mat-dialog-close]="userForm.value" >Annuler</button>
        <button mat-raised-button color="primary" (click)="onSubmit()" >Enregistrer</button>
    </div>
</div>